:root{
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}
nav .left a {
color: var(--text-color);
font-size: 22px;
font-weight: 600;
}
nav .right a{
    color: var(--text-color);
    margin: 0 15px;

}
nav .right a span{
    margin-left: 5px;
}
nav .left a:hover,
nav .right a:hover{
    color: var(--link-color);
}

/* hero section  */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text{
    flex: 5;
}
.hero-section .text h2{
    font-size: 45px;
}
.hero-section .text .links{
    margin-top: 25px;
}
.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
}
.hero-section .text .links a:hover{
    background-color: var(--link-color);
    color: white;
}
.hero-section .headshot{
    flex: 3;
    display: flex;
    justify-content: right;
}
.hero-section .headshot img{
    width: 300px;
    border-radius: 50%;
}

.Skills-section{
    padding: 0 50px;
    margin-bottom: 100px;
}
.Skills-section h2{
    font-size: 35px;
    text-align: center;
}
.Skills-section .text{
    text-align: center;
    margin-bottom: 20px;
}
.Skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 250px;
    padding: 20px 30px;
    margin: 10px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
}
.Skills-section .cells .cell img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.Skills-section .cells .cell span{
    font-size: 18px;
}

/* project section */
.project-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.project-section h2{
    font-size: 35px;
    text-align: center;
}
.project-section .text{
    text-align: center;
    margin-bottom: 20px;
}
.project-section .projects{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.project-section .projects .project{
    width: 400px;
    padding: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
}
.project-section .projects .project .text .links{
    margin-top: 25px;
}
.project-section .projects .project .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
}
.project-section .projects .project .text .links a:hover{
    background-color: var(--link-color);
    color: white;
}
/* contact section */

.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;
}
.contact-section h2{
    font-size: 35px;
}
.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    
}
.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;

}
.contact-section .group form input, .contact-section .group form textarea{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid var(--link-color);
    border-radius: 10px;
}

.contact-section .group form button{
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        background-color: var(--link-color);
        color: white;
        padding: 10px;
            outline: none;
            border: 2px solid var(--link-color);
            border-radius: 10px;
            cursor: pointer;
}
.contact-section .group form button:hover{
    filter: brightness(0.7);
}

footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}